<!-- delete_expense.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Delete Expense Confirmation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    
</head>
<body style="background-color: darkblue;">
    <div class="modal-content" style="box-sizzing: border-box; border: 3px solid black; width:560px;border-radius: 30px; position:absolute; height: 155px; top: 30%; left: 29%; text-align: center; background-color: lightblue;
    ">
    <h1>Delete Expense Confirmation</h1>
    <h5><p>Are you sure you want to delete this expense?</p></h5>
    <form action="/delete_expense/{{ expense_id }}" method="POST">
        <input type="submit" class="btn btn-danger" value="Delete">
    <a href="/dashboard" class="btn btn-secondary" >Cancel</a>
    </div>
</form>
</body>
</html>
