<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/static/chart.css">
  <link rel="stylesheet" type="text/css" href="/static/styles.css">
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ['Job', 'Income Per Month'],
        ['Total Expense',     {{total_amount}}],
        ['Monthly Income',      {{monthly_income}}],
      ]);

      var options = {
        title: 'Expense and Income Comparison'
      };

      var chart = new google.visualization.PieChart(document.getElementById('piechart'));

      chart.draw(data, options);
    }
  </script>
  <title>Expense Overview</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <style>
    body {
      background-color: white;
    }
    table {
      border-collapse: collapse;
      width: 100%;
      border-right: 1px solid black;
      position: relative;
    }
    th, td {
      text-align: left;
      padding: 7px;
      border: 1px solid black;
      background-color: whitesmoke;
    }
    th {
      background-color: wheat;
    }
    .table-container {
      position: relative;
      margin-top: 210px;
    }
   
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(8, 57, 102);">
    <div class="container px4">
      <a class="navbar-brand">
        <span style="color:#ffffff; font-size:26px; font-weight:bold; letter-spacing: 2px; position: absolute; left: 37s%; top: 6%;">
          <b><h1>EXPENSE OVERVIEW</h1></b>
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link" href="/expense_history">View History</a></li>
          <li class="nav-item"><a class="nav-link" href="/dashboard">Back</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="chart-container">
    <div id="piechart"></div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Total Expenses: ₱{{ total_amount }}</h3>
        {% if has_income %}
          {% if monthly_income %}
            <h3>Monthly Income: ₱{{ user[5] }}</h3>
          {% else %}
            <h3>No Monthly Income Provided</h3>
          {% endif %}
        {% else %}
          <h3>No Monthly Income Provided</h3>
        {% endif %}
        <h3>Remaining Balance: ₱{{ remaining_balance }}</h3>
        
      </div>
      </div>
     <span style="position:absolute; bottom: 44%;"> <p> <h3>Your Expenses:</H3></P></span>
      <div class="table-container">
        <table class="expenses-table">
          <thead>
            <tr>
              <th>Amount</th>
              <th>Description</th>
              <th>Category</th>
              <th>Date</th>
            </tr>
          </thead>
          
          <tbody>
            {% for expense in expenses %}
            <tr>
              <td>₱{{ expense[2] }}</td>
              <td>{{ expense[3] }}</td>
              <td>{{ expense[4] }}</td>
              <td>{{ expense[5] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
      </body>
      </html>
      